.navbar-text {
    padding: 1%;
}

a {
    color: black;
    font-family: 'Abril Fatface', cursive;
    /* text-decoration: none; */
    font-size: 1.2rem;
    letter-spacing: 1px;
}

a:hover {
    color:#57536a;
    text-decoration: none;
}