
body{
    background-image: url("https://res.cloudinary.com/defmozvyn/image/upload/v1573666326/cinema_kotge3.jpg");
    background-color: #ebe3db;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-image-repeat: no-repeat;

}

/* #overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    position: absolute;
} */

@media screen and (max-width: 640px) {
    body {
        background-image: none;
        background-color: #f9bc50;
    }
}
