
body{
    background-image: url("https://res.cloudinary.com/defmozvyn/image/upload/v1573774211/cinema_1_lxpbsc.jpg");
    background-color: #ebe3db;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-image-repeat: no-repeat;

}

@media screen and (max-width: 640px) {
    body {
        background-image: none;
        /* background-color: #f9bc50; */
        background-color: antiquewhite;
    }
}
